/*NORMALIZE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/* QUE LA WEB OCUPE EL ESPACIO TOTAL DE LA PANTALLA */
html, body{
    width: 100%;
    overflow-x: hidden;
}

/* ANIMACIONES DEL LOGO */
@keyframes logo {
    0% {transform: translateX(-600px);}

    100% {transform: translateX(0px);}
}

/* DEL SLIDER DE MARCAS */
@keyframes marcas {

    0% {transform: translateX(-550px);}

    100% {transform: translateX(570px);}

}

.encabezado{
    background-color: #fd611a;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BARRA */
.barra{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 13vh;
}

 .busqueda{
    background-color: white;
    padding: 20px;
    width: 500px;
    height: 50px;
    margin: -0.875px 0px 0px;
    border-radius: 4px;
    border: none;
    border: 1px gainsboro solid;
}

.buscador{
    position: relative;
}

.lupa{
    position: absolute;
    padding-left: 20px;
    right: 10px;
    top: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.logo{
    animation: logo 1.5s;
}

.iniciarSesion i{
    font-size: 20px;
}

.botonInisiarSesion{
    background-color: #fd611a;
    padding: 0px 16px;
    width: 170px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: none;
    box-shadow: 0 3px 1px -2px gray;
    border-radius: 4px;
    cursor: pointer;
}

.irCarrito{
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

.irCarrito span{
    background-color: red;
    position: absolute;
    top: -2px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 12px;
    line-height: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BARRA DE NAVEGACION */
.barraNavegacion{
    background-color: #fd611a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    min-height: 8vh;
}
.barraNavegacion :hover{
    color: white;
}

a{
    color: black;
    text-decoration: none;    
}

.botonDeHamburguesa{
    display: none;
}


/* ULTIMAS NOVEDADES */
.novedades{
    border-bottom: black 2px solid;
}

.carta{
    padding: 16px;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 0px 3px 7px rgba(116, 115, 115, 0.678);
    border-radius: 5px;
}

.carta img{
    width: 120px;
}

.carta h3{
    font-size: 15px;
    text-align: center;
    min-height: 6vh;
    padding-top: 5px;
    color: #000;
}

.carta p{
    color: #4675b9;
    font-size: 18px;
}

.cartasContenedor{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-height: 13vh;
    margin-top: 30px;
}

.seccionProductos{
    margin: 10vh 5vw;
    margin-bottom: 40px;
    margin-top: 60px;
}


/* SLIDER DE LAS MARCAS */
.seccionMarcas{

    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcas{
    animation: marcas 7s infinite alternate ease-in-out;
}

.marcasContenedor{

    padding: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* FOOTER PARTE NARANJA*/
/* PRIMERA SECCION */
.seccionFooter{
    background-color: #fd611a;
    margin: 14vh 0vw;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.codigoFiscal{
    padding-right: 50px;
    text-align: right;
}

.imagenCodigoFiscal img{
    width: 80px;
}

/* SEGUNDA SECCION */
.segundaSeccion{
    grid-column: span 2;
    padding: 0px;
    border-left: 1px solid hsla(0,0%,100%,.3215686274509804);
    text-align: center;
}

.contacto{
    padding: 20px;
}

.contacto p{
    font-size: 16px;
    color: #fff;
    padding: 0px;
}

.contacto a{
    font-size: 14px;
    color: #fff;
    border: 1px solid hsla(0,0%,100%,.3215686274509804);
    border-radius: 5px;
    padding: 7px;
}

/* TERCERA SECCION */
.terceraSeccion{
    grid-column: span 2;
    border-left: 1px solid hsla(0,0%,100%,.3215686274509804);
    padding: 30px;
}

.trabaja{
    padding: 10px;
}

.trabaja a{
    font-size: 15px;
    color: #fff;
    border: 1px solid hsla(0,0%,100%,.3215686274509804);
    border-radius: 5px;
    padding: 9px;

}

.arrepentimiento{
    display: flex;
    justify-content: center;
    padding: 10px
}

.arrepentimiento a{
    font-size: 15px;
    text-decoration: underline;
    color: #fff;
}

/* CUARTA SECCION */

.cuartaSeccion{
    grid-column: span 2;
    border-left: 1px solid hsla(0,0%,100%,.3215686274509804);
    padding: 30px;
    padding-left: 30px;
    
}
.redesSociales{
    display: flex;
    justify-content: left;
}

.redesSociales P{
    text-align: justify;
    font-size: 18px;
    color: #fff;
}

.iconosRedesSociales{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.iconosRedesSociales a{
    text-align: center;
    font-size: 30px;
    color: #fff;
}

/* FOOTER PARTE GRIS */
.footertexto{
    background-color: #eee;
    height: 50px;
}

.infoTexto{
    color: #878787;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

/* RESPONSIVE */
@media screen and (max-width: 770px) {
    .barra{
        flex-direction: column;
    }

    .barraNavegacion{
        justify-content: left;
        min-height: 5vh;
    }

    a{
        display: none;
    }

    .botonDeHamburguesa{
        display: block;
        color: #fff;
        background-color: #fd611a;
        border: none;
        font-size: 35px;
        padding: 10px;
    }

    .cartasContenedor{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1170px) {
    .barra{
        flex-direction: column;
    }
}